%article{id: 'post_'+post.id, class: 'post'}
  %header
    %h1= link_to post.title, posts_path(post.permalink_format)
    = image_tag post.gravatar_url(:size => 32, :default => 'identicon'), :height => 32, :width => 32
    .meta
      %time{:pubdate => 'true', :datetime => post.timestamp.iso8601}
        Posted on #{post.date.strftime '%e %B %Y'}
      %span
        by
        = post.author
  - if summary
    = post.summary_html
    %p.more= link_to 'Read more&hellip;'.html_safe, posts_path(post.permalink_format)
  - else
    ~ post.content_html
